<!DOCTYPE html>
<html lang="en">
    {{ partial "header.html" . }}
    <body onload="update_post_age()">
        {{ partial "navbar.html" . }}
        <main id="main">
          {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
          {{ end }}
          
          <footer>
            {{ partial "footer.html" . }}
          </footer>
        </main>
        <script>
          document.querySelectorAll('code').forEach(function(el) {
            // Check if the <code> element contains only text (no child elements)
            if (el.children.length === 0) {
              el.classList.add('no-inner-tags');
            }
          });
          </script>
    </body>
</html>

