{{ define "main" }}
  {{ $start := add (sub (mul .Paginator.PageSize .Paginator.PageNumber) .Paginator.PageSize) 1 }}
    <ol start={{ $start }}>
        {{ range .Paginator.Pages }}
            <li class="item">
                <p class="item__urls">
                    <a href="{{ .Permalink }}">{{ .Title }}</a> 
                    {{ if isset .Params "itemurl" }}
                    {{ $site := urls.Parse .Params.ItemUrl }}       
                    <span class="item__siteurl">(
                        <a href='/sites/{{ .Params.sites }}'>{{ .Params.sites }}</a>)
                    </span>
                    {{ end }}
                </p>
            <p class="item__meta">
            <span class="post_age" pdate="{{ .Lastmod.Format "January 2, 2006"  }}"> </span>
            {{ range .Params.tags }}
                <a class="item__tag" href="{{ "tags" | relURL }}/{{- replace . " " "-" -}}">{{- . -}}</a>
            {{- end }}
            {{ if eq .Section "bookmarks" }}
                <a class="item__notes" href="{{ .Permalink }}">notes</a>
            {{ end }}
            </p>
            </li>
        {{ end }}
    </ol>
    {{ template "_internal/pagination.html" . }}
{{ end }}

