{{ define "main" }}
<article class="single">
    {{ if isset .Params "sites" }}
        <h2>
            <p class="item__urls">
                {{ .Title }}
                <span class="item__siteurl">
                    (<a href='#'>{{ replace .Params.sites "www." "" }}</a>)
                </span> 
            </p>
        </h2>        
    {{ else if isset .Params "itemurl" }}
        {{ $site := urls.Parse .Params.ItemUrl }}
        <h2>
            <p class="item__urls">
                {{ .Title }}
                <span class="item__siteurl">
                    (<a href='#'>{{ replace $site.Host "www." "" }}</a>)
                </span> 
            </p>
        </h2>
    {{ else }}
    <h2> {{ .Title }} </h2>
    {{ end }}
    {{ partial "frontmatter.html" . }}

    <!-- If it has bookmark then it better to put reference bookmark, other than set in title-->
    {{ if isset .Params "itemurl" }}
    Bookmark for: <a href="{{ .Params.ItemUrl }}">{{ .Params.ItemUrl }}</a>
    <hr/>
    {{ end }}

    {{ if ne (trim .Content " ") "" }}
    {{ .Content }}
    {{ else }}
    <p>No written notes for this article.</p>
    {{ end }}
    {{ partial "social.html" . }} <br />
</article>
{{ partial "further-read.html" . }} <br />
{{ partial "comments.html" . }} <br />
{{ end }}