<div>
    <center>For feedbacks via email: <a href="mailto: {{ .Site.Params.email }}?subject={{ .Site.BaseURL}} : {{ .Title }}"> {{ $.Site.Params.email }}</a> </center>
    <script src="https://giscus.app/client.js"
        data-repo="murarisumit/kbs"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNjQ2NzYwMzI="
        data-category="General"
        data-category-id="DIC_kwDOD8aiwM4CdrGK"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
</div>