{{ $open := .Get "open" | default "false" }}
{{ $collapsedborder := .Get "collapsedborder" | default "false"}}
<details class="details" 
{{ if eq $collapsedborder "true"}}
    style="border: 1px solid #ccc; border-radius: 5px; padding: 5px;"
{{ end }}
{{ if eq $open "true"}}
    open
{{ end }}
>
    <summary>
        <!-- {{ i18n "click_to_open" | default "Open:" }} -->
        {{ with .Get "summary" }}
            {{ . | markdownify }}
        {{ end }}
    </summary>
    {{ .Inner | markdownify }}
</details>